.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(50px);
}

.show {
    opacity: 1 !important;
    transition: 1s ease;
    filter: blur(0);
    transform: translateY(0);
}

.activeelement {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(50px);
}